body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;

}
.inscription
{
    display:flex;
    flex-direction:column;

}

legend
{

    color: white;


}
label
{
    color: white;
}
.connexion
{
    display:flex;
    flex-direction:column;
    position: relative;
    left: 40px;
    bottom: 93px;
}
.co
{
    position: relative;
    left: 40px;
    bottom: 93px;
}
